.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  transition: background-color 0.3s ease, box-shadow 0.3s ease, padding 0.3s ease;
  box-shadow: none;
  position: relative;
}

.navbar.scrolled {
  background-color: #e0fbe2;
  padding: 1rem 4rem; /* Menggunakan padding yang sama seperti sebelum di-scroll */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar .logo {
  width: 150px;
  margin-right: auto;
  transition: width 0.3s ease;
}

.navbar.scrolled .logo {
  width: 150px;
}

.navbar-menu-container {
  flex: 1;
  display: flex;
  justify-content: center;
}

.navbar-menu {
  display: flex;
  list-style: none;
  gap: 15px;
  color: #49557e;
  font-size: 18px;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 15px;
  cursor: pointer;
}

.navbar button {
  background: transparent;
  font-size: 16px;
  color: #49557e;
  border: 1px solid black;
  padding: 10px 30px;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.3s;
  margin-bottom: 20px;
}

.navbar button:hover {
  background-color: #36db36;
}

.navbar .active {
  padding: 20px;
  border-bottom: 2px solid #49557e;
}

.navbar li {
  cursor: pointer;
}

.navbar-search-icon {
  position: relative;
  padding: auto;
  font-size: 24px;
}

.navbar-search-icon .dot {
  position: absolute;
  min-width: 10px;
  min-height: 10px;
  background-color: green;
  border-radius: 5px;
  top: -8px;
  right: -8px;
}

.navbar-profile {
  position: relative;
}

.nav-profile-dropdown {
  position: absolute;
  display: none;
  right: 0;
  z-index: 1;
}

.navbar-profile:hover .nav-profile-dropdown {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #89fa89;
  padding: 12px 25px;
  border-radius: 4px;
  border: 1px solid #36db36;
  outline: 2px solid;
  list-style: none;
}

.nav-profile-dropdown li {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.nav-profile-dropdown img {
  width: 20px;
}

.nav-profile-dropdown li:hover {
  color: #e0fbe2;
}

.hamburger-icon {
  display: none;
  width: 25px;
  cursor: pointer;
  z-index: 9;
}

@media (max-width: 750px) {
  .navbar-menu {
    display: none;
  }
  .hamburger-icon {
    display: block;
  }
  .navbar-menu.open {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: #fff;
    padding: 10px;
    border: 1px solid #e0fbe2;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 99;
  }
}

/* Style untuk kedua kondisi */
.navbar-menu,
.navbar-right {
  display: flex;
  align-items: center;
  gap: 15px;
}

.navbar-right img {
  width: 20px;
}

.navbar-right button {
  padding: 10px 30px;
  font-size: 16px;
}

@media (max-width: 1050px) {
  .navbar .logo {
    width: 140px;
  }
  .navbar-menu {
    gap: 20px;
    font-size: 17px;
  }
  .navbar-right {
    gap: 30px;
  }
  .navbar-right img {
    width: 20px;
  }
  .navbar-right button {
    padding: 8px 25px;
  }
}

@media (max-width: 900px) {
  .navbar .logo {
    width: 140px;
  }
  .navbar-menu {
    gap: 15px;
    font-size: 16px;
  }
  .navbar-right {
    gap: 20px;
  }
  .navbar-right img {
    width: 20px;
  }
  .navbar-right button {
    padding: 7px 20px;
    font-size: 15px;
  }
}
